*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient( 90deg, rgb(1,47,90), rgb(215,232,240) 50%, rgb(1,47,90));

  -webkit-font-smoothing: antialiased;
}

/* =====================================================================
    PAGE STRUCTUR
===================================================================== */


.page--wrapper {
  max-width: 960px;
  margin: 0 auto;

  background: #fff;
  font-family: 'EB Garamond', serif;
  font-size: 16px;

  position: relative;
}

.content--wrap {
  padding: 0 20px;
}

.page--content {
  font-family: 'EB Garamond', serif;
  font-size: 15px;

  line-height: 2em;
}

.main {
  height: 100%;
}


footer {
  background: #0f0f0f;
  padding-bottom: 30px;
}

/* =====================================================================
    CLEARFIX
===================================================================== */

.content--wrap:before,
.content--wrap:after,
.sponsor--gallery:before,
.sponsor--gallery:after {
  display: block;
  content: " ";

  height: 0;
}

.content--wrap:after,
.sponsor--gallery:after {
  clear: both;
}

/* =====================================================================
    HEADER
===================================================================== */

header {
  background: #111213;

  width: 100%;
  height: 111px;
  padding: 31px 0;
}

.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;

  height: 58px;
  width: 399px;

  float: left;

}

/* =====================================================================
    NAVIGATION
===================================================================== */

.main--menu {
  float: right;
  margin-top: 26px;
}

.main--menu ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

.main--menu li {
  display: inline-block;
  margin-left: 17px;
}

.main--menu li a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;

  text-decoration: none;
  text-transform: uppercase;
}

/* =====================================================================
    SEARCH
===================================================================== */

.btn--primary.btn--search {
  background: #fff;
  box-shadow: inset 0px 2px 5px rgba(0,0,0, 0.34);

  color: #656565;

  position: absolute;
  top: 20px;
  right: 20px;

  width: 123px;
}

.btn--search:before {
  position: relative;
  left: -15px;
  top: 0;

  content: " ";

  display: inline-block;
  height: 11px;
  width: 18px;

  background-repeat: no-repeat;
  background-image: url(../img/search-icon.png);
}


/* =====================================================================
    HERO
===================================================================== */

.hero-image {
  height: 350px;
  background: red;
  background: url("../img/hero-image.jpg") no-repeat;
  color: #fff;
}



/* =====================================================================
    BACK BAR
===================================================================== */

.back--bar {
  height: 115px;
  background: #111213;
  padding: 30px 0;
}


.quote {
  font-size: 32px;
  display: inline-block;
  color: #a3a3a3;
}

.social--links {
  float: right;
  margin-top: 15px;
}

.social--links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rounded--link {
  float: left;
  margin-left: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #313133;
  text-align: center;
}

.rounded--link a {
  display: block;
  padding: 8px 0;
  color: #fff;
}

.bird--icon {
  background: red;
  background-image: url("../img/bird-icon.png");
  background-position: center center;

}


.shop {
  background: #ebebeb;
  float: right;
  width: 25%;
}

.shop a {
  text-decoration: none;
  color: #679fc0;
}

/* =====================================================================
    POSTS
===================================================================== */

.post {
  float: left;
  border-bottom: 1px solid #f0f0f0;
}

.profil-pic {
  height: 150px;
  width: 150px;
  float: left;
  background: #e9e9e9;
  margin-top: 30px;
  border: 5px solid #f3f3f3;
}

.post-text {
  float: right;
  width: 70%;
}

.poster {
  width: 75%;
}

date {
  color: #679fc0;
}


/* =====================================================================
    SPONSOR
===================================================================== */

.sponsor--gallery {
  padding-bottom: 3em;
}

.sponsor--list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sponsor--img {
  width: 15.444444444%;
  height: 128px;
  display: block;
  float: left;
  margin-right: 11px;
  margin-bottom: 1%;
  border: 6px solid #f5f5f5;
  background: #fff;
}

.sponsor--img a {
  display: block;
  height: 100%;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
}



/* =====================================================================
    INDECATOR
===================================================================== */

.indicator--bar {
  margin: 2em 0;
}

.indicator ul {
  list-style: none;
  padding: 0;
}

.indicator ul li {
  display: inline-block;
  margin-right: 1em;
  background: #eeeeee;
  padding: 0.2em 1em;
}

.indicator li a {
  color: #9a9a9a;
  text-decoration: none;
}

ul li.active {
  background: #9a9a9a;
}

li.active a {
  color: #fff;
}



/* =====================================================================
    FOOTER
===================================================================== */

footer h2 {
  color: #fff;
}


.col {
  float: left;
  width: 33.333333333333333%;
}

footer {
  color: #6f6e6e;
}

.concact-info {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* =====================================================================
    STREAM
===================================================================== */

.streams {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stream {
  display: block;
  float: left;
  height: 75px;
  width: 31.3333%;
  margin-right: 2%;
  margin-bottom: 5%;
  background: orange;
  border: 1px solid #333333;
}

.streams a {
  display: block;
  height: 100%;
  width: 100%;
}


/* =====================================================================
    BUTTONS
===================================================================== */

.btn--primary {
  display: inline-block;
  width: 100%;

  border: none;
  border-radius: 1rem;

  text-decoration: none;
  text-align: center;
}

.btn--read--more {
  background: #5aa6cd;
  border-radius: 5px;
  padding: 0.3em;
  width: 140px;
  margin: 20px 0;
  color: #e2e1e1;
  font-weight: bold;
  text-shadow: 0px 1px #000;
  border-bottom: 2px solid #000;
}
